<div style="margin:auto; width: 100%">
<div style="display:block"><%= link_to 'SCORES', root_path %></div>
<div style="display:inline"><%= link_to 'Skills', root_path + "skills" %></div>
<div style="display:inline"><%= link_to 'Users', root_path + "users" %></div>
</div>
